.App {
  text-align: left;
  margin-left: 0.5%;
}

.App h1{
  text-align:center;
  color: rgb(206, 239, 16);
  background: linear-gradient(to bottom, #a36298 0%, #ff99cc 100%);

}

.allCountries {
  text-align: left ;
  float:left
}

.visitedCountries{
  float:right
}
